.container{
    margin: 15px;
    height: 550px;
}

.register-template{
    height: 500px;
    width:  500px;
}

.title{
    font-size: xx-large;
}

.input{
    height: 400px;
}

.error-message{
    height: min-content;
}