<p>
  <mat-toolbar color="primary">
    <span><a mat-flat-button color="primary" routerLink="/home" aria-label="Icon-button with home" class="title">
        <mat-icon>home</mat-icon>
        Two Factor Authentication
      </a></span>
    <span class="spacer"></span>
    <a mat-button routerLink="/settings" aria-label="Icon-button with settings">
      <mat-icon>settings</mat-icon>
      Settings
    </a>
    <button mat-button (click)="signOut()" aria-label="Icon-button with logout">
      <mat-icon>logout</mat-icon>
      Sign out
    </button>
  </mat-toolbar>
</p>