.container{
    margin: 15px;
    height: 550px;
}

.update-user-template{
    height: 500px;
    width:  550px;
}

.title{
    font-size: x-large;
}

.input{
    height: 400px;
}

.error-message{
    height: min-content;
}