<div>
    <p>Please scan this QR-Code with our app to reset your password</p>
    <div *ngIf="generateKeyQR">
        <qrcode [qrdata]="generateKeyQR" [width]="256" [errorCorrectionLevel]="'M'" [elementType]="'svg'"></qrcode>
    </div>
    <mat-error *ngIf="errorMessage">
        {{errorMessage}}
    </mat-error>
</div>
<div>
    <p>
        Have you already changed your password? <br>
        <a mat-raised-button color="primary" routerLink="/sign-in">
            <mat-icon>vpn_key</mat-icon>Sign in now
        </a>

    </p>
</div>