.container{
    margin-top: 1%;
    margin-left: 25%;
    margin-right: 25%;
    height: 550px;
}

.infos{
    padding-left: 5%;
    padding-top: 30px;
    padding-bottom: 30px;
    border-left: 30px;
    border-style: ridge;
    border-color: #3f51b5;
    font-size: large;
}

.qr{
    margin-top: 10px !important;
}

.spacer{
    margin-bottom: 2%;
}

.spacer-top{
    padding-top: 1px;
}

.font{
    margin-top: 4%;
    font-size: large;
}
.font-md{
    margin-top: 1%;
    font-size: medium;
}

.icon{
    margin-right: 5px;
}