<div class="container">
    <h1 fxLayout="column" class="spacer">
        <b>
            <p fxLayout="row">We have sent you a verification email.</p>
        </b>
    </h1>
    <div class="infos" fxLayout="column">
        <div>
            <p>Please enter the link in your email.</p>
            <p>Check your spam folder as well</p>
        </div>
    </div>
    <div fxLayout="column" class="resend-mail">
        <p>Have you not received any email message? Try again by entering your email here:</p>
        <form novalidate [formGroup]="emailForm" #fform="ngForm" (ngSubmit)="resendMail()">
            <div fxLayout="row" fxLayout.sm=column fxLayoutAlign="space-around center">
                <mat-form-field class="resend-row">
                    <input matInput type="text" placeholder="Enter your email address" formControlName="email">
                    <mat-error *ngIf="!emailForm.get('email')?.valid && emailForm.get('email')?.touched">
                        {{getErrorMessage()}}
                    </mat-error>
                </mat-form-field>
                <button class="button" mat-raised-button color="primary" type="submit" [disabled]="emailForm.invalid">
                    Resend email</button>
            </div>
            <mat-error *ngIf="errorMessage">
                {{errorMessage}}
            </mat-error>
        </form>
    </div>
</div>