.container{
    margin-top: 100px;
    margin-left: 25%;
    margin-right: 25%;
    height: 550px;
}

.infos{
    padding-left: 5%;
    padding-top: 30px;
    padding-bottom: 30px;
    border-left: 30px;
    border-style: ridge;
    border-color: #3f51b5;
}

.title{
    font-size: large;
    margin-bottom: 5%;
}

.input-margin{
    margin-right: 15%;
}