<div>
    <p>Have you forgot your password? We will send you a link and further instructions to reset your password</p>
    <form novalidate [formGroup]="emailForm" #fform="ngForm" (ngSubmit)="resendMail()">
        <input matInput type="text" placeholder="Enter your email address" formControlName="email">
        <button mat-button type="submit" [disabled]="emailForm.invalid">Reset password</button>
        <mat-error *ngIf="!emailForm.get('email')?.valid && emailForm.get('email')?.touched">
            {{getErrorMessage()}}
        </mat-error>
        <mat-error *ngIf="errorMessage">
            {{errorMessage}}
        </mat-error>
    </form>
</div>
