<div class="container" fxLayout="column" fxLayoutGap="20">
    <h1 fxLayout="column">
        <b>
            <p fxLayout="row">Did you forget your password?</p>
        </b>
    </h1>
    <div class="infos">
        <h3 class="title">
            <p>We will send you a link and further instructions to reset your password in an email</p>
        </h3>
        <form novalidate [formGroup]="emailForm" #fform="ngForm" (ngSubmit)="resendMail()">
            <div fxLayout="row" fxLayout.xs="column">
                <mat-form-field class="input-margin">
                    <input matInput type="text" placeholder="Enter your email address" formControlName="email">
                    <mat-error *ngIf="!emailForm.get('email')?.valid && emailForm.get('email')?.touched">
                        {{getErrorMessage()}}
                    </mat-error>
                </mat-form-field>
                <div>
                <button mat-raised-button color="primary" type="submit" [disabled]="emailForm.invalid">Reset
                    password</button>
                </div>
            </div>
        </form>
        <mat-error *ngIf="errorMessage">
            {{errorMessage}}
        </mat-error>
    </div>
</div>