.container{
    margin-left: 25%;
    margin-right: 25%;
    height: 550px;
}

.qr{
    margin-top: 30px !important;
}

.spacer{
    margin-bottom: 5%;
}

.spacer-top{
    margin-top: 4%;
}

.font{
    font-size: large;
}

.infos{
    margin-top: 4%;
    padding-left: 5%;
    padding-top: 10px;
    padding-bottom: 30px;
    border-left: 30px;
    border-style: ridge;
    border-color: #3f51b5;
    font-size: large;
}